body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(10, 0, 0);
  }
  
  
  
  .clock {
    font-family: 'Seven Segment', sans-serif;
    font-size: 6rem;
    color: rgb(50, 245, 24);
    display: flex;
    gap: 0.5rem;
  }
  
  